**Head**

In [1]:
%%bash

N_ROWS=5
N_ROWS=$((N_ROWS+1))
FILE_PATH=titanic.csv
head -n $N_ROWS $FILE_PATH | tr ',' '\t'

PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	0	3	"Braund	 Mr. Owen Harris"	male	22	1	0	A/5 21171	7.25		S
2	1	1	"Cumings	 Mrs. John Bradley (Florence Briggs Thayer)"	female	38	1	0	PC 17599	71.2833	C85	C
3	1	3	"Heikkinen	 Miss. Laina"	female	26	0	0	STON/O2. 3101282	7.925		S
4	1	1	"Futrelle	 Mrs. Jacques Heath (Lily May Peel)"	female	35	1	0	113803	53.1	C123	S
5	0	3	"Allen	 Mr. William Henry"	male	35	0	0	373450	8.05		S

**Tail**

In [2]:
%%bash

N_ROWS=5
FILE_PATH=titanic.csv
head -n 1 $FILE_PATH | tr ',' '\t'
tail -n $N_ROWS $FILE_PATH | tr ',' '\t'

PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
887	0	2	"Montvila	 Rev. Juozas"	male	27	0	0	211536	13		S
888	1	1	"Graham	 Miss. Margaret Edith"	female	19	0	0	112053	30	B42	S
889	0	3	"Johnston	 Miss. Catherine Helen ""Carrie"""	female		1	2	W./C. 6607	23.45		S
890	1	1	"Behr	 Mr. Karl Howell"	male	26	0	0	111369	30	C148	C
891	0	3	"Dooley	 Mr. Patrick"	male	32	0	0	370376	7.75		Q

**Columns**

In [3]:
%%bash

FILE_PATH=titanic.csv
head -n 1 $FILE_PATH | tr ',' '\n' | cat -s -n

     1	PassengerId
     2	Survived
     3	Pclass
     4	Name
     5	Sex
     6	Age
     7	SibSp
     8	Parch
     9	Ticket
    10	Fare
    11	Cabin
    12	Embarked

**Unique Values of a Column**

In [4]:
%%bash

FILE_PATH=titanic.csv
COL=2
cut -d ',' -f $COL $FILE_PATH | head -n 1
cut -d ',' -f $COL $FILE_PATH | tail -n +2 | sort | uniq

Survived
0
1

**Value Counts**

In [5]:
%%bash

FILE_PATH=titanic.csv
COL=2
cut -d ',' -f $COL $FILE_PATH | head -n 1
cut -d ',' -f $COL $FILE_PATH | tail -n +2 | sort | uniq -c | sort -n

Survived
    342 1
    549 0